<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body onload="loadAudio()">
	<h3>SimpleCAPTCHA Example - Simple CAPTCHA</h3>

	<form action="/check/captcha">
		<table>
			<tr>
				<td>
					<img src="/captcha" /><br /> <input name="answer" />
				</td>
			</tr>
			<tr>
				<td>
					<audio controls="" id="audioCaptcha"></audio>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="제출" />
				</td>
			</tr>
		</table>

	</form>


	<script>
		/* Add bogus req param to url so that reloading will (hopefully) load a different .wav file. */
		function loadAudio() {
			document.getElementById("audioCaptcha").src = "/captchaAfterAudio?bogus="
					+ new Date().getTime();
			document.getElementById("audioSupport").innerHTML = document
					.createElement('audio').canPlayType("audio/wav");
		}
	</script>
</body>

</html>